@import '../../../css/_settings.css';

p-form-row {
  width: 100%;
  display: block;
}

.form-row--label, .form-row--field {
  width: 100%;
}

.form-row--label {
  margin-top: .5em;
  margin-bottom: .5em;
}

.form-row--legend {
  margin-bottom: .5em;
}

@media only screen and (min-width:735px){

  .form-row--label {
    vertical-align: top;
    display: inline-block;
    width: 240px;
  }

  .form-row--field {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 240px);
  }

}
