@import '../../../css/_settings.css';

.information-icon-svg {
  height: calc(1em + 3px);
  width: calc(1em + 3px);
  cursor: pointer;
}

.information-icon-svg:focus {
  outline: none;
}

.information-icon {
  fill: var(--color-primary);
}

.information-icon-svg:focus .information-icon {
  fill: var(--color-primary-darker);
}
