@import '../../../css/_settings.css';

:root{
  --tooltip-background-color: color( var(--color-background) tint(70%) );
}

.tooltip--container {
  position: absolute;
  display: inline-block;
  min-width: 140px;
  background-color: var(--tooltip-background-color);
  border: 1px solid var(--color-gray);
  padding: .5em;
  margin-left: -30px;
  margin-top: -.75em;
  box-shadow: 0px 2px 15px 0px var(--color-gray);
  border-radius: 4px;
}

.tooltip--arrow {
  position: absolute;
  width: 0;
  height: 0;
}

.tooltip--arrow:AFTER {
  position: absolute;
  display: block;
  content: "";
}

/* tooltip above */
.tooltip--arrow {
  bottom: -12px;
  left: calc( 30px + 6px);
  margin-left: -18px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid var(--color-gray);
}

.tooltip--arrow:AFTER {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid var(--tooltip-background-color);
  width: 0px;
  height: 0px;
  margin-left: -11px;
  bottom: 2px;
}
