@import '../../../css/_settings.css';

p-validation-message:not([hidden]) {
  display: block;
  margin-top: calc(0px - var(--common-margin-y) / 2);
  font-size: .9em;
  font-weight: 400;
  color: var(--color-error);
}

::slotted(*:first-child), p-validation-message *:first-child {
  margin-top: 0 !important;
}

::slotted(*), p-validation-message * {
  color: var(--color-error);
}
