@import '../../../css/_settings.css';

:host{
  display: block;
  border-top: 1px solid var(--color-gray);
  margin-bottom: var(--common-margin-y);
}

p-accordion{
  display: block !important;
  border-top: 1px solid var(--color-gray) !important;
  margin-bottom: var(--common-margin-y) !important;
}

p-accordion:after{
    content: ' ';
    display: table;
}

p-accordion p-accordion-panel,
::slotted(p-accordion-panel){
  display: block;
}
