@import '../../../css/_settings.css';

p-accordion-panel,
:host{
  display: block;
}
.accordion-panel{
  border-bottom: 1px solid var(--color-gray);
}

.accordion-panel-title-text,
::slotted(p[slot=title]){
  font-weight: bold;
}

.accordion-panel-title{
  cursor: pointer;
}

.accordion-panel__closed .accordion-panel-title-button-icon{
  transform: rotate(-90deg);
}

.accordion-panel-title-button{
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}

.accordion-panel-title-text{
  display: inline-block;
  vertical-align: baseline;
  margin-left: .5em;
}

.accordion-panel__closed .accordion-panel-body{
  max-height: 0px;
  opacity: 0;
}

.accordion-panel__animate-in .accordion-panel-body{
  animation: accordion-in 0.35s normal ease-in-out both 1;
}

.accordion-panel__animate-out .accordion-panel-body{
  animation: accordion-out 0.35s normal ease-in-out both 1;
}

.accordion-panel-body{
  overflow: hidden;
  opacity: 1;
  max-height:10000px;
  transition:max-height 0.65s;
}

@keyframes accordion-in {
  0% {
    opacity: 0;
    transform:scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity:1;
    transform:scale(1);
  }
}

@keyframes accordion-out {
  0% {
      opacity: 1;
      transform:scale(1);
    }
    100% {
        opacity:0;
        transform:scale(0.9) rotateX(-60deg);
    }
}
