@import '../../../css/_settings.css';

p-calendar,
:host{
  display: inline-block;
  max-width: calc ( 275px + 1em);
  padding: 1em;
}

p-calendar{
  display: inline-block !important;
  padding: 1em !important;
  border: 1px solid rgba(0,0,0,0) !important;
}

.calendar-header > div {
  margin: 1em 0;
}

.month-title {
  font: inherit;
  appearance: none;
  padding: 5px;
  border: none;
  background: rgba(255, 255, 255, 0);
}

select::-ms-expand {
  display: none;
}

.year-title {
  font: inherit;
  background: rgba(255, 255, 255, 0);
  float: right;
  width: 4em;
  text-align: right;
  border: 0px
}

.calendar-table, .calendar-table td {
  padding: 0;
  margin: 0;
  border: 0;
}

p-calendar .month-title, p-calendar .year-title{
  font-size: 1em;
  font-family: inherit;
  color: var(--color-text);
}

.calendar-day--link {
  display: block;
  padding: 9px;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
}

.previous-month,
.next-month {
  font-weight: normal;
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
}

.next-month {
  float: right;
}
