@import '../../../css/_settings.css';

.p-dialog-backdrop{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: color(var(--color-background) blackness(90%));
  opacity: .8;
}

body > *:not(.p-dialog){
  filter: blur(5px);
}

.p-dialog{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.p-dialog--title{
  width: calc(100% - 30px);
  font-weight: 700;
  margin-top: var(--common-margin-y);
  margin-left: var(--common-margin-x);
  margin-right: var(--common-margin-x);
}

.p-dialog--body{
  margin-left: var(--common-margin-x);
  margin-right: var(--common-margin-x);
}

.p-dialog--close:focus,
.p-dialog--body:focus{
  outline: 0;
}

.p-dialog--close{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 2px;
  top: 2px;
  text-align: center;
  cursor: pointer;
}

.close-vector--circle{
  display: none;
}

.p-dialog--close .close-vector{
  fill: var(--color-text);
}

.p-dialog--close:hover .close-vector,
.p-dialog--close:focus .close-vector{
  fill: var(--color-primary);
}

.p-dialog--content{
  position: relative;
  border: 1px solid rgba(255,255,255,0);
  width: 100%;
  max-width: 450px;
  background-color: var(--color-background);
  margin: 0 auto;
  color: var(--color-text);
  border-radius: 4px;
}

.p-dialog--content__centered{
  top: 50%;
  transform: translateY(-50%);
}
