{% set rootDir = "../" %}

{% extends "layout/_default.html" %}
{% block head %}
<title>Accordion</title>
{% endblock %}

{% block content %}

<h2>Accordion</h2>
<h3>Sample</h3>

<p-accordion>
	<p-accordion-panel>
		<p slot="title">Bla bla</p>
		<div slot="body">
			<p>body</p>
			<p>Some more text in the for accordion</p>
			<p-calendar>
			</p-calendar>
		</div>
	</p-accordion-panel>
	<p-accordion-panel>
		<p slot="title">Bar baz bla</p>
		<div slot="body">
			<p>body</p>
			<p>Some more text in the for bar baz bla accordion</p>
		</div>
	</p-accordion-panel>
</p-accordion>

{% endblock %}

{% block sidebar %}

{% endblock %}
