{% set rootDir = "../" %}

{% extends "layout/_default.html" %}
{% block head %}
<title>Calendar</title>
{% endblock %}

{% block content %}

<h2>Calendar</h2>

<h3>Sample</h3>

<p-calendar></p-calendar>

{% endblock %}

{% block sidebar %}

{% endblock %}
