{% set rootDir = "../" %}

{% extends "layout/_default.html" %}
{% block head %}
<title>Dialog</title>
{% endblock %}

{% block content %}

<h2>Dialog</h2>

<h3>Sample</h3>

<p-dialog id="MyDlg" hidden>
	<div slot="title">Foo bar title!!!!</div>
	<div slot="body">
		<p>Lorem ispum foo bar body</p>
		<input type="text" /><br />
		<button class="button-primary" onclick="document.getElementById('MyDlg').hide()" type="button">OK</button>
		<button class="button-secondary" onclick="document.getElementById('MyDlg').hide()" type="button">Cancel</button>
	</div>
</p-dialog>
<p>
	<a href="#" onclick="document.getElementById('MyDlg').show();return false">Show dialog</a>
</p>

{% endblock %}

{% block sidebar %}

{% endblock %}
