{% set rootDir = "../" %}

{% extends "layout/_default.html" %}
{% block head %}
<title>Form row</title>
{% endblock %}

{% block content %}

<h2>Form row</h2>

<h3>Sample</h3>

<form>
	<p-form>
		<p-form-row>
			<legend slot="legend">Form row legend</legend>

			<div slot="label">
				<p-label for="MyInputField">My input field</p-label>
			</div>

			<div slot="field">
				<input type="text" tabindex="0" required pattern="[A-Z]{3}" id="MyInputField" />

        <p-validation-message validation-for="MyInputField" validation-type="required">
					<p>My input field is required</p>
				</p-validation-message>

				<p-validation-message validation-for="MyInputField" validation-type="pattern">
					<p>My input field must be uppercase AZ length 3</p>
				</p-validation-message>

			</div>
		</p-form-row>
	</p-form>
</form>

{% endblock %}

{% block sidebar %}

{% endblock %}
