{% set rootDir = "../" %}

{% extends "layout/_default.html" %}
{% block head %}
<title>Information icon</title>
{% endblock %}

{% block content %}

<h2>Information icon</h2>

<h3>Sample</h3>

<p-information-icon id="MyInformationIcon"></p-information-icon>

{% endblock %}

{% block sidebar %}

{% endblock %}
