{% set rootDir = "../" %}

{% extends "layout/_default.html" %}
{% block head %}
<title>Input date</title>
{% endblock %}

{% block content %}

<h2>Input date</h2>

<h3>Sample</h3>

<form>
	<p-form>
		<p-form-row>

			<div slot="label">
				<p-label for="MyDateInputField">My date input field</p-label>
			</div>

			<div slot="field">
        <p-input-date class="lg" name="begin" format="dd-mm-yyyy" value="2014-12-31" id="MyDateInputField"></p-input-date>
			</div>
		</p-form-row>
	</p-form>
</form>

{% endblock %}

{% block sidebar %}

{% endblock %}
