{% set rootDir = "../" %}

{% extends "layout/_default.html" %}
{% block head %}
<title>Tooltip</title>
{% endblock %}

{% block content %}

<h2>Tooltip</h2>

<h3>Sample</h3>

<p-tooltip tooltip-for="MyInformationIcon">My tooltip</p-tooltip>
<p-information-icon id="MyInformationIcon"></p-information-icon>

{% endblock %}

{% block sidebar %}

{% endblock %}
