:root {
  --button-font-weight: 900;
  /* primary button */
  --button-primary-border-radius: .356em;
  --button-primary-color: var(--color-white);
  --button-primary-background-color: var(--color-primary);
  --button-primary-border-color: var(--color-primary);
  --button-primary-focus-color: var(--color-white);
  --button-primary-focus-background-color: var(--color-primary-darker);
  --button-primary-focus-border-color: var(--color-primary-darker);
  /* secondary button */
  --button-secondary-border-radius: .356em;
  --button-secondary-color: var(--color-primary);
  --button-secondary-background-color: var(--color-white);
  --button-secondary-border-color: var(--color-primary);
  --button-secondary-focus-color: var(--color-primary-darker);
  --button-secondary-focus-background-color: var(--color-white);
  --button-secondary-focus-border-color: var(--color-primary-darker);
  --button-tertiary-border-radius: .356em;
  --button-tertiary-color: var(--color-white);
  --button-tertiary-background-color: var(--color-secondary);
  --button-tertiary-border-color: var(--color-secondary);
  --button-tertiary-focus-color: var(--color-white);
  --button-tertiary-focus-background-color: var(--color-secondary-darker);
  --button-tertiary-focus-border-color: var(--color-secondary-darker);
}

button::-moz-focus-inner {
  border: 0;
}

button {
  font-size: 1em;
  font-weight: var(--button-font-weight);
  border-radius: var(--button-primary-border-radius);
  cursor: pointer;
  padding: .5em 1.5em;
  margin-bottom: var(--common-margin-y);
  margin-right: var(--common-margin-x);
  border: none;
}

button.button-primary {
  background-color: var(--button-primary-background-color);
  border: 2px solid var(--button-primary-border-color);
  color: var(--button-primary-color);
  /*text-shadow: 0 -1px 1px rgba(0,0,0,.3);*/
}

button.button-primary:hover, button.button-primary:focus {
  outline: none;
  border: 2px solid var(--button-primary-focus-border-color);
  background-color: var(--button-primary-focus-background-color);
  color: var(--button-primary-focus-color);
}

button.button-secondary {
  background-color: var(--button-secondary-background-color);
  border: 2px solid var(--button-secondary-border-color);
  color: var(--button-secondary-color);
}

button.button-secondary:hover, button.button-secondary:focus {
  outline: none;
  border: 2px solid var(--button-secondary-focus-border-color);
  background-color: var(--button-secondary-focus-background-color);
  color: var(--button-secondary-focus-color);
}

button.button-tertiary {
  background-color: var(--button-tertiary-background-color);
  border: 2px solid var(--button-tertiary-border-color);
  color: var(--button-tertiary-color);
}

button.button-tertiary:hover, button.button-tertiary:focus {
  outline: none;
  border: 2px solid var(--button-tertiary-focus-border-color);
  background-color: var(--button-tertiary-focus-background-color);
  color: var(--button-tertiary-focus-color);
}
