@import './_settings.css';

input[type=text] {
  @apply(--mixin-input-type-text);
}

input[type=text]:focus {
  @apply(--mixin-input-type-text-focus);
}

input[type=text]{
  @apply(--mixin-input-size-lg);
}

p-input-date.xs,
input[type=text].xs {
  @apply(--mixin-input-size-xs);
}

p-input-date.sm,
input[type=text].sm {
  @apply(--mixin-input-size-sm);
}

p-input-date.md,
input[type=text].md {
  @apply(--mixin-input-size-md);
}

p-input-date.lg,
input[type=text].lg {
  @apply(--mixin-input-size-lg);
}

p-input-date.xl,
input[type=text].xl {
  @apply(--mixin-input-size-xl);
}
