:root {
  --font-family-primary: 'Nunito', sans-serif;
  --common-margin-x: 0.625em;
  --common-margin-y: 1.25em;
  --color-background: rgb(250, 249, 244);
  --color-white: #fff;
  --color-text: rgb(30, 30, 40);
  --color-gray: rgb(190, 190, 190);
  --color-gray-light: rgb(200, 200, 200);
  --color-error: rgb(200, 0, 0);
  --color-primary: rgb(82, 168, 236);
  --color-primary-darker: color( rgb(82, 168, 236) blackness(25%));
  --color-secondary: rgb(255, 102, 0);
  --color-secondary-darker: color( rgb(255, 102, 0) blackness(25%));
  /* Grid settings*/
  --gutter-width: 20px;
  --outer-margin: 0px;
  --gutter-compensation: calc((var(--gutter-width) * 0.5) * -1);
  --half-gutter-width: calc((var(--gutter-width) * 0.5));
  --xs-min: 30;
  --sm-min: 48;
  --md-min: 64;
  --lg-min: 75;
  --screen-xs-min: var(--xs-min)em;
  --screen-sm-min: var(--sm-min)em;
  --screen-md-min: var(--md-min)em;
  --screen-lg-min: var(--lg-min)em;
  /* input */
  --mixin-input-type-text {
    box-sizing: border-box;
    font: inherit;
    border-radius: 3px;
    color: var(--color-text);
    border: 1px solid var(--color-gray);
    padding: .5em .750em;
    margin-bottom: var(--common-margin-y);
    margin-right: var(--common-margin-x);
  }
  --mixin-input-type-text-focus {
    outline: none;
    border: 1px solid var(--color-primary);
  }
  --mixin-input-size-xs {
    width: 50px;
  }
  --mixin-input-size-sm {
    width: 100px;
  }
  --mixin-input-size-md {
    width: 150px;
  }
  --mixin-input-size-lg {
    width: 200px;
  }
  --mixin-input-size-xl {
    width: 225px;
  }
}

@custom-media --sm-viewport only screen and (min-width: 48em);
@custom-media --md-viewport only screen and (min-width: 64em);
@custom-media --lg-viewport only screen and (min-width: 75em);
