@import './_settings.css';
@import './_font.css';
@import './_grid.css';
@import './_button.css';
@import './_input.css';

*[hidden]{
  display: none;
}

*:before,
*:after {
  box-sizing: inherit;
}

input, button {
  font-family: inherit;
}

p {
  margin-bottom: 0.625em;
  margin-top: 0.625em;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 17px;
  background-color: var(--color-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color:  var(--color-primary);
  font-weight: 600;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

p-label,
label {
  font-weight: 600;
}

label[for] {
  cursor: pointer;
}

p-accordion{
  margin-bottom: var(--common-margin-y);
  display: block;
}

#site-title{
  display: table-cell;
  height: 100px;
  vertical-align: bottom;
}

.sidebar-menu{
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: 0;
  border-top: 1px dotted var(--color-gray);
}

.sidebar-menu li{
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: 1px dotted var(--color-gray);
}
