{% extends "layout/_default.html" %}

{% set rootDir = "" %}

{% block head %}
<title>P-UI lib</title>
{% endblock %}

{% block content %}
<p-dialog id="MyDlg" hidden>
	<div slot="title">Foo bar title??</div>
	<div slot="body">
		<p>Lorem ispum foo bar body</p>
		<input type="text" /><br />
		<button class="button-primary" onclick="document.getElementById('MyDlg').hide()" type="button">OK</button>
		<button class="button-secondary" onclick="document.getElementById('MyDlg').hide()" type="button">Cancel</button>
	</div>
</p-dialog>
<p>
	<a href="#" onclick="document.getElementById('MyDlg').show();return false">Show dialog</a>
</p>
<p-accordion>
	<p-accordion-panel>
		<p slot="title">Bla bla</p>
		<div slot="body">
			<p>body</p>
			<p>Some more text in the for accordion</p>
			<p-calendar>
			</p-calendar>
		</div>
	</p-accordion-panel>
	<p-accordion-panel>
		<p slot="title">Bar baz bla</p>
		<div slot="body">
			<p>body</p>
			<p>Some more text in the for bar baz bla accordion</p>
		</div>
	</p-accordion-panel>
</p-accordion>
<p-tooltip tooltip-for="link-bla">
	Tooltip
</p-tooltip>
<form>
	<p-form>
		<p-form-row>
			<legend slot="legend">Lorem ipsum</legend>
			<div slot="label">
				<p-label for="bla">Land code</p-label>
				<p-information-icon id="link-bla"></p-information-icon>
			</div>
			<div slot="field">
				<input type="text" tabindex="0" required pattern="[A-Z]{3}" id="bla" />
				<p-validation-message validation-for="bla" validation-type="required">
					<p>Hello world is required</p>
				</p-validation-message>
				<p-validation-message validation-for="bla" validation-type="pattern">
					<p>Hello world must be uppercase AZ length 3</p>
					<p>NLD</p>
				</p-validation-message>
			</div>
		</p-form-row>
		<p-form-row>
			<div slot="label">
				<p-label for="bla-xs">input class xs</p-label>
				<p-tooltip tooltip-for="link-bla-xs">
					<p style="text-align: center;">
						<img src="https://placeimg.com/100/100/animals"><br />
            Tooltip 2
          </p>
				</p-tooltip>
				<p-information-icon id="link-bla-xs"></p-information-icon>
			</div>
			<div slot="field">
				<input class="xs" type="text" id="bla-xs" />
			</div>
		</p-form-row>
		<p-form-row>
			<div slot="label">
				<p-label for="dbla">date</p-label>
			</div>
			<div slot="field">
				<p-input-date class="lg" name="begin" format="dd-mm-yyyy" value="2014-12-31" id="dbla"></p-input-date>
			</div>
		</p-form-row>
		<p-form-row>
			<div slot="label">
				<p-label for="bla-sm">input class sm</p-label>
			</div>
			<div slot="field">
				<input tabindex="0" class="sm" type="text" id="bla-sm" />
			</div>
		</p-form-row>
		<p-form-row>
			<div slot="label">
				<p-label for="bla-md">input class md</p-label>
			</div>
			<div slot="field">
				<input tabindex="0" class="md" type="text" id="bla-md" />
			</div>
		</p-form-row>
		<p-form-row>
			<div slot="label">
				<p-label for="bla-lg">input class lg</p-label>
			</div>
			<div slot="field">
				<input tabindex="0" class="lg" type="text" id="bla-lg" />
			</div>
		</p-form-row>
		<p-form-row>
			<div slot="label">
				<p-label for="bla-xl">input class xl</p-label>
			</div>
			<div slot="field">
				<input tabindex="0" class="xl" type="text" id="bla-xl" />
			</div>
		</p-form-row>
		<p-form-row>
			<div slot="label">
				<p-label for="bla-xs2">input mixed</p-label>
			</div>
			<div slot="field">
				<input tabindex="0" class="sm" type="text" id="bla-xs2" />
				<input tabindex="0" class="xs" type="text" id="bla-xs3" />
				<input tabindex="0" class="md" type="text" id="bla-md2" />
			</div>
		</p-form-row>
		<p-form-row>
			<div slot="field">
				<button tabindex="0" class="button-primary" type="submit">Submit</button>
				<button tabindex="0" class="button-secondary" type="button">Cancel</button>
				<p-input-date class="md" id="dbla2" placeholder="jjjj-mm-dd"></p-input-date>
			</div>
		</p-form-row>
	</p-form>
</form>
{% raw %}
<h1>Angular sample</h1>
<div ng-app="HelloUserApp">
	<div ng-controller="HelloUserController">
		<p-form-row>
			<div slot="field">
				<input ng-model="name" type="text" ng-keyup="NameChange()">
				<button class="button-tertiary">Hello</button>
			</div>
		</p-form-row>
		<p-form-row ng-if="name === 'Peter'">
			<div slot="label">
				<p-label for="bla-xs2">{{name}}</p-label>
			</div>
			<div slot="field">
				<input tabindex="0" class="sm" type="text" id="bla-xs2" />
				<input tabindex="0" class="xs" type="text" id="bla-xs3" />
				<input tabindex="0" class="md" type="text" id="bla-md2" />
			</div>
		</p-form-row>
		<p-form-row ng-repeat="item in items">
			<div slot="label">
				<p-label for="bla-xs2">{{item.name}}</p-label>
			</div>
			<div slot="field">
				<input tabindex="0" class="lg" ng-model="item.name" type="text" id="bla-md2" /> {{foo}}
			</div>
		</p-form-row>
		<h1>{{greeting}}</h1>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
  <script>
  angular.module('HelloUserApp', [])
    .controller('HelloUserController', function ($scope) {
      $scope.name = 'Peter';
      $scope.items = [
        { name: 'foo' },
        { name: 'bar' },
        { name: 'baz' },
      ];
      $scope.NameChange = function () {
        $scope.greeting = 'Hello ' + $scope.name;
      };
    });
</script>
{% endraw %}
{% endblock %}

{% block sidebar %}

{% endblock %}
