@import '../../../css/_settings.css';

:root{
  --calendar-background-color: color( var(--color-background) tint(70%) );
}

.date-picker-panel{
  background-color: var(--calendar-background-color);
  border: 1px solid var(--color-gray);
  box-shadow: 0px 2px 15px 0px var(--color-gray);
  border-radius: 4px;
  transform: translateY(2px);
}

.date-picker-panel:focus{
  outline: none;
}
