@import '../../../css/_settings.css';

:host{
  font-family: inherit;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: var(--common-margin-y);
  margin-right: var(--common-margin-x);
}

p-input-date{
  font-family: inherit !important;
  white-space: nowrap !important;
  display: inline-block !important;
  margin-bottom: var(--common-margin-y) !important;
}

.input-date{
   @apply(--mixin-input-type-text);
   width: 100% !important;
   margin-right: 0 !important;
   padding-right: 2em !important;
   margin-bottom: 0 !important;
}

input.input-date:focus{
  @apply(--mixin-input-type-text-focus);
}

.date-picker-button{
  display: inline-block;
  margin-top: .5em;
  margin-left: -2em;
	width: 1.5em;
  height: 1.5em;
	vertical-align: top;
  position: absolute;
}

.date-picker-button:focus{
  outline: none;
}

.date-picker-button:focus .date-picker-icon-svg{
  fill: var(--color-primary);
}
