<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="{{rootDir}}css/main.min.css" rel="stylesheet">
  {% block head %} {% endblock %}
</head>
<body>
  <header class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2">
          <a href="{{rootDir}}index.html"><img src="{{rootDir}}img/p-ui-logo.svg" alt="p-ui lib" /></a>
      </div>
      <div class="col-xs-12 col-sm-10">
          <h1 id="site-title">P-UI Component library</h1>
      </div>
    </div>
  </header>

  <section class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-9">
        {% block content %} {% endblock %}
      </div>

      <div class="col-xs-12 col-sm-3">
          <aside>
            <ul class="sidebar-menu">
              <li><a href="{{rootDir}}doc/p-accordion.html">Accordion</a></li>
              <li><a href="{{rootDir}}doc/p-calendar.html">Calendar</a></li>
              <li><a href="{{rootDir}}doc/p-dialog.html">Dialog</a></li>
              <li><a href="{{rootDir}}doc/p-form.html">Form</a></li>
              <li><a href="{{rootDir}}doc/p-form-row.html">Form row</a></li>
              <li><a href="{{rootDir}}doc/p-information-icon.html">Information icon</a></li>
              <li><a href="{{rootDir}}doc/p-input-date.html">Input date</a></li>
              <li><a href="{{rootDir}}doc/p-label.html">Label</a></li>
              <li><a href="{{rootDir}}doc/p-tooltip.html">Tooltip</a></li>
              <li><a href="{{rootDir}}doc/p-validation-message.html">Validation message</a></li>
            </ul>
            {% block sidebar %} {% endblock %}
          </aside>
      </div>

    </div>
  </section>
  <script>
  (function(window) {

    var supportsCustomElementsV1 = 'customElements' in window;

    /**
     * @param {string} src script file
     * @param {function} done callback function
     */
    function loadScript(src, done) {
      var js = document.createElement('script');
      js.src = src;
      js.onload = function() {
        done();
      };
      js.onerror = function() {
        done(new Error('Failed to load script ' + src));
      };
      document.head.appendChild(js);
    }

    if (supportsCustomElementsV1) {
      loadScript('{{rootDir}}js/native-shim.min.js',
        function() {
          loadScript('{{rootDir}}js/p-ui-lib.min.js', function() {});
        }
      );
    } else {
      loadScript('{{rootDir}}js/shadow-dom.min.js',
        function(e) {
          loadScript('{{rootDir}}js/p-ui-lib.min.js', function() {});
        });
    }
  }(window));

  </script>
</body>
</html>
